<nz-list nzGrid>
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="8" *ngFor="let product of products ;">
        <nz-list-item>          
           <nz-card [nzTitle]="product.product_name" [nzBordered]="true" >
           <img  
            height="400"
            width="400"
            src="assets/{{product.image_title}}" 
            alt="{{product.product_name}}">
            <br>
            <b>
            {{product.price}}
            </b>
            <br> 
            <button nz-button [nzType]="'primary'" (click)="showModal(product)"><span>Edit Item</span></button>
          </nz-card>
        </nz-list-item>
      </div>
    </div>
  </nz-list>

  <nz-modal [(nzVisible)]="isVisible" [nzTitle]="selectedProduct?.product_name" (nzOnCancel)="handleCancel()" (nzOnOk)="handleSumbit()">
    <ng-container *nzModalContent>
        <form [formGroup]="productForm">
            <h2>Product Details</h2>
          
            <label for="productName">Name: </label>
            <input id="productName" type="text" formControlName="productName">
          
            <label for="productPrice">Price: </label>
            <input id="productPrice" type="text" formControlName="productPrice">
        </form>
    </ng-container>


  </nz-modal>
