<nz-list nzGrid>
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="6" *ngFor="let product of products ;">
        <nz-list-item>          
           <nz-card [nzTitle]="product.product_name" [nzBordered]="true" >
           <img  
            height="300"
            width="300"
            src="assets/{{product.image_title}}" 
            alt="{{product.product_name}}">
            <br>
            <b>
            {{product.price}}
            </b>
            <br> 
            <button id="editButton" nz-button [nzType]="'primary'" (click)="showModal(product)"><span>Edit Item</span></button>
            <button id="deleteButton" nz-button [nzType]="'primary'" nzDanger (click)="showDeleteConfirm()">Remove Item</button>
          </nz-card>
        </nz-list-item>
      </div>
    </div>
  </nz-list>

    <div style="display: grid; padding: 0px; margin-left: 50%; margin-right: 55%;">
      <button id="addButton" nz-button [nzType]="'primary'" nzDanger (click)="showModal()">Add New Item</button>
    </div>

<app-form
[selectedProduct]="selectedProduct"
[isVisible]="isVisible"
[productList]="products"
(newItemEvent)="resetVisibility()"
(newSelectedProductEvent)="resetSelectedProduct()"
>
</app-form>

<!-- 
  <nz-modal [(nzVisible)]="isVisible" [nzTitle]="selectedProduct?.product_name" (nzOnCancel)="handleCancel()" (nzOnOk)="handleSumbit()">
    <ng-container *nzModalContent>
        <form [formGroup]="productForm">
            <h2>Product Details</h2>
          
            <label for="productName">Name: </label>
            <input id="productName" type="text" formControlName="productName">
          
            <label for="productPrice">Price: </label>
            <input id="productPrice" type="text" formControlName="productPrice">

            <img id="formImage" style="margin-top: 10px;" height="200" width="200" src="assets/{{selectedProduct?.image_title}}" alt="{{selectedProduct?.product_name}}">
            <br>
            <input type="file" (change)="onFileSelector($event)" formControlName="productImage">

        </form>
    </ng-container>


  </nz-modal> -->