<!-- <p>form works!</p>
<nz-modal [(nzVisible)]="isVisible" [nzTitle]="selectedProduct?.product_name" (nzOnCancel)="handleCancel" (nzOnOk)="handleSumbit">
    <ng-container *nzModalContent>
        <form [formGroup]="productForm">
            <h2>Product Details</h2>
          
            <label for="productName">Name: </label>
            <input id="productName" type="text" formControlName="productName">
          
            <label for="productPrice">Price: </label>
            <input id="productPrice" type="text" formControlName="productPrice">

            <img id="formImage" style="margin-top: 10px;" height="200" width="200" src="assets/{{selectedProduct?.image_title}}" alt="{{selectedProduct?.product_name}}">
            <br>
            <input type="file" (change)="onFileSelector($event)" formControlName="productImage">

        </form>
    </ng-container>


  </nz-modal> -->